var subStr = function (val, start, stop) {
  console.log('wxsssss', val)
  if (val) {
    return val.substring(start, stop)
  } else {
    return ''
  }
}

var length = function (val) {
  // console.log("wxs length", val)
  if(val === undefined) {
    return 0
  }

  if (val.constructor === "Array"){
    return val.length
  } else {
    return 0
  }

}

module.exports = {
  subStr: subStr,
  length: length
}